@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

/***********************/
/* Global Elements     */
/***********************/

/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red: #e63946;
  --white: #f4f4f4;
  --black: #333;
  --grey: #555;
}

html {
  font-size: 62.5%; /* (100/16) * 10 */
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

/***********************/
/* Reusable Elements   */
/***********************/

ul li {
  list-style-type: none;
}

a {
  font-size: 1.6rem; /* 16px */
  text-decoration: none;
}

p,
li {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
  font-weight: 500;
}

/***********************/
/* Utility classes     */
/***********************/

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.lg-heading {
  font-size: 3.5rem;
}

.md-heading {
  font-size: 2.2rem;
}

.bg-dark {
  background-color: #263238;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0;
}

.btn-primary:link,
.btn-primary:visited {
  background-color: #fff;
  color: var(--red);
  border-radius: 10em;
}

.btn-secondary:link,
.btn-secondary:visited {
  background-color: #fff;
  border: 2px solid var(--red);
  color: var(--red);
  border-radius: 1.5em;
}

.btn-primary:hover,
.btn-primary:active,
.btn-secondary:hover,
.btn-secondary:active {
  background-color: var(--red);
  color: var(--white);
}

/***********************/
/* Header Section      */
/***********************/
.header {
  height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/header-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
}

/** ########### Navbar ########### **/
.navbar {
  padding: 1rem;
}

/* Logo */
.logo {
  float: left;
  color: var(--white);
}

/* nav-items */
.nav-items {
  float: right;
  margin-top: 1rem;
}

.nav-items .nav-item {
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
}

.nav-items .nav-item a:link,
.nav-items .nav-item a:visited {
  color: var(--white);
  padding-bottom: 0.5rem;
}

.nav-items .nav-item a:hover,
.nav-items .nav-item a:active {
  color: var(--red);
  border-bottom: 2px solid var(--white);
}

/* clearfix */
.navbar::after {
  content: "";
  display: block;
  clear: both;
}

/** ########### Header Content ########### **/
.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.header-content h1,
.header-content p {
  text-transform: uppercase;
  color: var(--white);
}

.header-content h1 {
  font-weight: 700;
}

/***********************/
/* Showcase Section   */
/***********************/
.showcase {
  background-color: #ddd;
  padding: 10rem 0;
}

.row {
  height: 350px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.315);
}

.row1 {
  margin-bottom: 10rem;
}

.row1 .img-box,
.row2 .txt-box {
  float: left;
  width: 50%;
}

.row2 .img-box,
.row1 .txt-box {
  float: right;
  width: 50%;
}

.row .img-box {
  height: 100%;
}

.row .txt-box {
  height: 100%;
  padding: 3rem;
}

.row .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row .txt-box h2 {
  text-transform: uppercase;
  color: var(--black);
}

.row .txt-box p {
  color: var(--grey);
}

/* clearfix */
.row::after {
  content: "";
  display: block;
  clear: both;
}

/***********************/
/* Features Section   */
/***********************/
.features {
  padding: 10rem 0;
}

.box-wrapper {
  box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.521);
}

.box {
  width: 33.3%;
  float: left;
  padding: 2rem;
  text-align: center;
}

.box1,
.box3 {
  background-color: #263238;
  color: var(--white);
}

.box1 i,
.box3 i {
  color: var(--red);
}

.box2 {
  background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
  color: var(--white);
}

/* clearfix */
.box-wrapper::after {
  content: "";
  display: block;
  clear: both;
}

/***********************/
/* Footer Section      */
/***********************/
.footer {
  background-color: #263238;
  color: var(--white);
  padding: 2rem;
  text-align: center;
}

.social-appearance i {
  margin: 2rem;
}

.social-appearance i:hover {
  color: var(--red);
}

/***************************************************/
/**              About Page                      ***/
/***************************************************/

/* ############## About Section ################### */
.about {
  padding: 5rem 0;
}

.about-heading {
  color: var(--black);
}

.about-heading::after {
  content: "";
  display: block;
  border: 3px solid var(--red);
  width: 100%;
}

.about .about-paragraph {
  color: var(--grey);
}

/* ### about-wrapper #### */
.about-wrapper {
  margin-top: 2rem;
  text-align: center;
}

.about-wrapper .left {
  float: left;
  width: 50%;
}
.about-wrapper .right {
  float: right;
  width: 50%;
}

.about-wrapper li::before {
  content: "\2713";
  color: var(--red);
  padding-right: 1rem;
  font-weight: bold;
}

/* clearfix */
.about-wrapper::after {
  content: "";
  display: block;
  clear: both;
}

/* ### counter #### */
.counter {
  margin: 3rem 0;
}

.count-item {
  width: 25%;
  float: left;
  text-align: center;
}

.counter span {
  font-size: 3rem;
  font-weight: 700;
  color: var(--red);
}

.counter p {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--grey);
}

/* clearfix */
.counter::after {
  content: "";
  display: block;
  clear: both;
}

/* ### Call to action banner #### */
.cta-banner {
  background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
  color: var(--white);
  padding: 1rem;
  box-shadow: 5px 5px 10px #00000057;
}

.cta-banner-left {
  float: left;
  width: 60%;
}
.cta-banner-right {
  float: right;
  width: 40%;
  text-align: right;
}

.cta-line {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1.5rem;
}

.cta-btn {
  display: inline-block;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  border: 4px solid var(--white);
  padding: 0.3em 2.5em;
  letter-spacing: 0.5rem;
  color: var(--white);
}

/* Clearfix */
.cta-banner::after {
  content: "";
  display: block;
  clear: both;
}

/***************************************************/
/**              Contact Us Page                 ***/
/***************************************************/
.contact-form {
  padding: 5rem 0;
  background-color: #f7f7f7;
}

/* Comapny Address */
.form-wrapper .company-address {
  height: 760px;
  background-color: #fff;
  float: left;
  width: 49%;
  padding: 1rem;
}

.company-address .address-group {
  margin-bottom: 3rem;
}

.company-address .address-group i {
  color: var(--red);
  display: inline-block;
  margin-right: 1rem;
}

.company-address .address-group h2 {
  display: inline-block;
  text-transform: uppercase;
  color: var(--grey);
}

.company-address img {
  max-width: 90%;
  min-height: 40rem;
  object-fit: cover;
  object-position: right;
}

/* Form */
.form-wrapper .form {
  height: 760px;
  background-color: #fff;
  font-size: 1.6rem;
  float: right;
  width: 49%;
  padding: 1rem;
}

.form h1 {
  color: var(--black);
}

.form h1::after {
  content: "";
  display: block;
  width: 100%;
  border: 3px solid var(--red);
}

.form p {
  color: var(--grey);
}

.form-wrapper .form .form-group {
  margin-bottom: 1.2rem;
}

.form-wrapper .form label {
  display: block;
}
.form-wrapper .form label::after {
  content: "*";
  color: var(--red);
}

.form-wrapper .form input {
  padding: 0.5rem;
  width: 100%;
}

.form-wrapper .form textarea {
  width: 100%;
  height: 300px;
  padding: 1rem;
}

.form-wrapper .form-btn {
  display: block;
  margin: 0 auto;
  padding: 0.5em 3em;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: var(--red);
  color: var(--white);
  border-radius: 10rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #fff;
  color: var(--red);
  border: 1px solid var(--red);
}

/* Clearfix */
.form-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
