/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* Root element */
html {
  background-color: #33fff9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

body {
  max-width: 800px;
  /* CSS Box Model */
  margin: 0 auto;
  padding: 0 20px 10px 20px;
  border: 4px solid black;

  background-color: yellow;
  color: #333;
}

/* Styling Multiple elements */
p,
li {
  font-size: 17px;
  line-height: 1.7;
  letter-spacing: 1px;
}

/* Styling single element */
h1 {
  font-size: 65px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 2px 0;
  color: deepskyblue;
  text-shadow: 3px 3px 3px black;
}

h1 + p {
  text-align: center;
}

img {
  display: block;
  height: 300px;
  width: auto;
  margin: 0 auto;
}

/* Class selector */
.para {
  font-size: 25px;
  color: blue;
}

/* Id selector */
#quote {
  font-style: italic;
}
